<section class="page-content candidate-page">
  <div class="content-row">
    <h1>{{name}}</h1>
    <span class="subtitle">Candidate for {{position}}</span>
  </div>

  <div class="row">
    <div class="one-third"><img {{bind-attr src=image alt=name}}></div>
    <div class="two-thirds">
      <h4>Occupation</h4>
      <p>{{occupation}}</p>
      <h4>Experience</h4>
      <p>{{experience}}</p>
    </div>
  </div>

  <div class="content-row">
    <h2>Platform</h2>
    <ul class="platform menu">
      <li>Platform item</li>
      <li>Platform item 2</li>
    </ul>
    <h4>Website</h4>
    <p><a {{bind-attr href=url}}>{{url}}</a></p>
    <h4>Social Media</h4>
    {{#if facebook.length}}<a {{bind-attr href=facebook }} class="icon facebook">Facebook</a>{{/if}}
  </div>

<!--
{{#link-to 'candidate.edit' model}}Edit{{/link-to}}
-->
</section>
