<section class="page-content candidate-page">
  <div class="content-row">
    <h1>{{name}}</h1>
    <span class="subtitle">Candidate for {{position}}</span>
  </div>

  <div class="row">
    <div class="one-third"><img {{bind-attr src=image alt=name}}></div>
    <div class="two-thirds">
      <div class="content-row">
        <div class="one-third">
          <h4>Occupation</h4>
          <h4>Experience</h4>
        </div>
        <div class="two-thirds">
          <p>{{occupation}}</p>
          <p>{{experience}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <h2>Platform</h2>
    <div class="platform menu">
      <div class="accordion-wrapper">
        <a href="#" class="accordion-trigger for">Austin Railways</a>
        <div class="accordion-content">Shores of the cosmic ocean the only home we've ever known light years network of wormholes hydrogen atoms. Gathered by gravity! The carbon in our apple pies. Citizens of distant epochs, white dwarf! Circumnavigated cosmos circumnavigated stirred by starlight a billion trillion? Galaxies.</div>
      </div>
      <div class="accordion-wrapper">
        <a href="#" class="accordion-trigger for">Funding for Eduction</a>
        <div class="accordion-content">Shores of the cosmic ocean the only home we've ever known light years network of wormholes hydrogen atoms. Gathered by gravity! The carbon in our apple pies. Citizens of distant epochs, white dwarf! Circumnavigated cosmos circumnavigated stirred by starlight a billion trillion? Galaxies.</div>
      </div>
      <div class="accordion-wrapper">
        <a href="#" class="accordion-trigger against">Marijuana Regulation</a>
        <div class="accordion-content">Shores of the cosmic ocean the only home we've ever known light years network of wormholes hydrogen atoms. Gathered by gravity! The carbon in our apple pies. Citizens of distant epochs, white dwarf! Circumnavigated cosmos circumnavigated stirred by starlight a billion trillion? Galaxies.</div>
      </div>
      <div class="accordion-wrapper">
        <a href="#" class="accordion-trigger for">Water Conservation</a>
        <div class="accordion-content">Shores of the cosmic ocean the only home we've ever known light years network of wormholes hydrogen atoms. Gathered by gravity! The carbon in our apple pies. Citizens of distant epochs, white dwarf! Circumnavigated cosmos circumnavigated stirred by starlight a billion trillion? Galaxies.</div>
      </div>
      <div class="accordion-wrapper">
        <a href="#" class="accordion-trigger against">Immigration Reform</a>
        <div class="accordion-content">Shores of the cosmic ocean the only home we've ever known light years network of wormholes hydrogen atoms. Gathered by gravity! The carbon in our apple pies. Citizens of distant epochs, white dwarf! Circumnavigated cosmos circumnavigated stirred by starlight a billion trillion? Galaxies.</div>
      </div>
    </div>
    <h4>Website</h4>
    <p><a {{bind-attr href=url}}>{{url}}</a></p>
    <h4>Social Media</h4>
    {{#if facebook.length}}<a {{bind-attr href=facebook }} class="icon facebook">Facebook</a>{{/if}}
  </div>

<!--
{{#link-to 'candidate.edit' model}}Edit{{/link-to}}
-->
</section>
