<section class="page-content candidate-page">
  <div class="content-row">
    <h1>{{name}}</h1>
    <span class="subtitle">Candidate for {{position}}</span>
  </div>

  <div class="row">
    <div class="one-third"><img {{bind-attr src=image alt=name}}></div>
    <div class="two-thirds">
      <div class="content-row">
        <div class="one-third">
          <h4>Occupation</h4>
          <h4>Experience</h4>
        </div>
        <div class="two-thirds">
          <p>{{occupation}}</p>
          <p>{{experience}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <h2 class="one-third">Platform</h2>
    <ul class="platform menu two-thirds">
      {{#each issue in issues}}
        <li>{{issue.title}}</li>
        <li>{{issue.description}}</li>
      {{/each}}
    </ul>
    <h4>Website</h4>
    <p><a {{bind-attr href=url}}>{{url}}</a></p>
    <h4>Social Media</h4>
    {{#if facebook.length}}<a {{bind-attr href=facebook }} class="icon facebook">Facebook</a>{{/if}}
  </div>

<!--
{{#link-to 'candidate.edit' model}}Edit{{/link-to}}
-->
</section>
