<header role="banner" class="page-header">
  <div class="content-row">
    <a href="/" class="logo">ATX Votes</a>
    <nav role="navigation" class="main-nav">
      <ul class="menu">
        <li><a href="/">Address</a></li>
        <li>{{#link-to "map"}}Map{{/link-to}}</li>
        <li>{{#link-to "elections"}}All{{/link-to}}</li>
        <li>{{#link-to "about"}}About{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</header>
<section class="content-row page-content election-page">
  {{#each item in candidates}}
    <div class="election-blurb">
      <h3>{{item.election.name}}</h3>
      <p>{{item.election.description}}</p>
    </div>

    <h2>Candidates:</h2>
    <ul class="candidate-list menu">
      {{#each candidate in item.candidates}}
      <li>
        {{#link-to 'candidate' candidate class="candidate"}}
          <img {{bind-attr src=candidate.image alt=candidate.name}}>
          <div class="info">
            {{candidate.name}}
            <span class="position">Running for: {{candidate.position}}</span>
          </div>
        {{/link-to}}
      </li>
      {{/each}}
    </ul>
  {{/each}}
</section>

{{outlet}}
